/* Оболочка, располагающая элемент внутри себя по центру */
.center-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	align-content: center;
}